.md-grid {
  max-width: 1230px;
}

.hero-banner {
  min-height: 200px;
  background:url("../background.jpg");
}

.hero-banner-content {
  padding: 2rem 0;
}

@media only screen and (min-width: 60em) {
  .hero-banner-content {
    padding-top: 6rem;
  }
}

.hero-banner h1 {
  max-width: 500px;
}
