@media only screen and (min-width: 60em) {
  .profile-container{
    display: flex;
    justify-content: space-between;
  }
}

.profile-card {
  width: 100%;
  height: 100%;
  max-width: 350px;
  padding: 20px 20px 20px 20px;
  box-shadow: 0px 15px 15px rgba(100, 100, 100, 0.1);
}

.profile-info {
  flex-grow: 1;
  padding-left: 50px;
}

/* override to align membership buttons */
.profile-container .button-secondary{
  width: 230px;
  display: inline-block;
  text-align: center;
}
