:root {
  --md-admonition-icon--development: url('icons/Development-Implementation_reframed.svg');
  --md-admonition-icon--community: url('icons/Community_reframed.svg');
  --md-admonition-icon--communication: url('icons/Communication_reframed.svg');
  --md-admonition-icon--legal: url('icons/Legal_reframed.svg');
  --md-admonition-icon--training: url('icons/Training_reframed.svg');
  --md-admonition-icon--github: url('icons/github-mark.svg');
}

.md-typeset .admonition.siemens {
  width: 48%;
  float: left;
  margin-top: 1.2em;
  margin-right: 1.2em;
  margin-bottom: 1.2em;
}

.md-typeset .admonition.siemens,
.md-typeset details.siemens {
  border-color: rgb(0, 153, 153);
}
.md-typeset .siemens > .admonition-title,
.md-typeset .siemens > summary {
  background-color: rgba(43, 155, 70, 0.1);
}

.md-typeset .community > .admonition-title::before,
.md-typeset .community > summary::before {
  background-color: rgb(0, 153, 153);
  -webkit-mask-image: var(--md-admonition-icon--community);
          mask-image: var(--md-admonition-icon--community);
}

.md-typeset .communication > .admonition-title::before,
.md-typeset .communication > summary::before {
  background-color: rgb(0, 153, 153);
  -webkit-mask-image: var(--md-admonition-icon--communication);
          mask-image: var(--md-admonition-icon--communication);
}

.md-typeset .training > .admonition-title::before,
.md-typeset .training > summary::before {
  background-color: rgb(0, 153, 153);
  -webkit-mask-image: var(--md-admonition-icon--training);
          mask-image: var(--md-admonition-icon--training);
}

.md-typeset .legal > .admonition-title::before,
.md-typeset .legal > summary::before {
  background-color: rgb(0, 153, 153);
  -webkit-mask-image: var(--md-admonition-icon--legal);
          mask-image: var(--md-admonition-icon--legal);
}

.md-typeset .development > .admonition-title::before,
.md-typeset .development > summary::before {
  background-color: rgb(0, 153, 153);
  -webkit-mask-image: var(--md-admonition-icon--development);
          mask-image: var(--md-admonition-icon--development);
}

.md-typeset .github > .admonition-title::before,
.md-typeset .github > summary::before {
  background-color: rgb(0, 153, 153);
  -webkit-mask-image: var(--md-admonition-icon--github);
          mask-image: var(--md-admonition-icon--github);
}
